<div class="image-gallery">
  <h1 class="gallery-title">AVIF Image Gallery</h1>
  <p class="info-text">
    AV1 Image File Format (AVIF) is an open, royalty-free image file format
    specification for storing images or image sequences compressed with AV1 in
    the HEIF container format. It competes with HEIC, which uses the same
    container format built upon ISOBMFF, but HEVC for compression. Version 1.0.0
    of the AVIF specification was finalized in February 2019. All files were
    taken from
    <a href="https://github.com/link-u/avif-sample-images"
      >this GitHub repository</a
    >. For more detailed information, please visit
    <a href="https://aomediacodec.github.io/av1-avif/testFiles/Link-U/"
      >this page</a
    >.
  </p>
  <div class="images-container">
    <div class="image-item">
      <img src="assets/images/jpg/hato.jpg" alt="Image description" />
      <ul class="image-info">
        <li>Size: 3082x2048</li>
        <li>Author: Kaede Fujisaki (@ledyba)</li>
        <li>
          Retrieved from
          <a href="https://hexe.net/2017/11/27/12:27:02/">her website</a>
        </li>
      </ul>
    </div>
    <div class="image-item">
      <img
        src="assets/images/avif/hato.profile0.8bpc.yuv420.no-cdef.avif"
        alt="Image description"
      />
      <ul class="image-info">
        <li>Size: 3082x2048</li>
        <li>Author: Kaede Fujisaki (@ledyba)</li>
        <li>File Size: 828KB</li>
        <li>
          Retrieved from
          <a href="https://hexe.net/2017/11/27/12:27:02/">her website</a>
        </li>
        <li>Profile: 0</li>
        <li>Bit Depth: 8</li>
        <li>Monochrome: No</li>
        <li>CDEF: Yes</li>
        <li>Loop Restoration: Yes</li>
        <li>File Size: 173KB</li>
      </ul>
    </div>
    <div class="image-item">
      <img
        src="assets/images/avif/hato.profile0.8bpc.yuv420.monochrome.no-cdef.avif"
        alt="Image description"
      />
      <ul class="image-info">
        <li>Size: 3082x2048</li>
        <li>Author: Kaede Fujisaki (@ledyba)</li>
        <li>
          Retrieved from
          <a href="https://hexe.net/2017/11/27/12:27:02/">her website</a>
        </li>
        <li>Profile: 0</li>
        <li>Bit Depth: 8</li>
        <li>Monochrome: Yes</li>
        <li>CDEF: No</li>
        <li>Loop Restoration: Yes</li>
        <li>File Size: 202KB</li>
      </ul>
    </div>
    <div class="image-item">
      <img
        src="assets/images/avif/hato.profile0.10bpc.yuv420.no-cdef.no-restoration.avif"
        alt="Image description"
      />
      <ul class="image-info">
        <li>Size: 3082x2048</li>
        <li>Author: Kaede Fujisaki (@ledyba)</li>
        <li>
          Retrieved from
          <a href="https://hexe.net/2017/11/27/12:27:02/">her website</a>
        </li>
        <li>Profile: 0</li>
        <li>Bit Depth: 10</li>
        <li>Monochrome: No</li>
        <li>CDEF: No</li>
        <li>Loop Restoration: No</li>
        <li>File Size: 175KB</li>
      </ul>
    </div>
    <div class="image-item">
      <img
        src="assets/images/avif/hato.profile0.10bpc.yuv420.monochrome.no-cdef.no-restoration.avif"
        alt="Image description"
      />
      <ul class="image-info">
        <li>Size: 3082x2048</li>
        <li>Author: Kaede Fujisaki (@ledyba)</li>
        <li>
          Retrieved from
          <a href="https://hexe.net/2017/11/27/12:27:02/">her website</a>
        </li>
        <li>Profile: 0</li>
        <li>Bit Depth: 10</li>
        <li>Monochrome: Yes</li>
        <li>CDEF: No</li>
        <li>Loop Restoration: No</li>
        <li>File Size: 203KB</li>
      </ul>
    </div>
  </div>
</div>
