<div class="container">
  <h1 class="title">{{ title }}</h1>
  <p class="description">{{ description }}</p>
  <div class="navigation">
    <a class="link" routerLink="/grid" target="_blank">Grid</a>
    <a class="link" routerLink="/avif" target="_blank">Avif</a>
    <a class="link" routerLink="/has" target="_blank">Has</a>
    <a class="link" routerLink="/has-divs" target="_blank">Has Divs</a>
    <a class="link" routerLink="/where" target="_blank">Where</a>
    <a class="link" routerLink="/container" target="_blank">Container</a>
    <a class="link" routerLink="/view-transitions" target="_blank"
      >View Transitions</a
    >
  </div>
</div>
